<!DOCTYPE html>
<html>
<head>
  <title>Endless Annoying Orange</title>
  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-514229-2']);
    _gaq.push(['_trackPageview']);
    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>
  <script type="text/javascript" src="https://apis.google.com/js/plusone.js"></script>
</head>
<body>
  <a href="/hey" style="font-size: 24px; text-decoration: none;"><img src="images/yorange.jpg" alt="yorange" height="64" width="85" align="top" />
    &lt;
    HEY! Hey click me! Click me to start video!</a>
  <div style="float: right">
    <iframe src="http://www.facebook.com/plugins/like.php?href=http%3A%2F%2Fendlessorange.heroku.com%2F&amp;layout=button_count&amp;show_faces=true&amp;width=450&amp;action=like&amp;font&amp;colorscheme=light&amp;height=21" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:110px; height:21px; margin-left: 10px" allowTransparency="true"></iframe>
    <a href="http://twitter.com/share" class="twitter-share-button" data-count="horizontal" data-lang="en">Tweet</a><script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
    <g:plusone></g:plusone>
    <a href="http://b.hatena.ne.jp/entry/http://endlessorange.heroku.com/" class="hatena-bookmark-button" data-hatena-bookmark-title="Endless Annoying Orange" data-hatena-bookmark-layout="standard" title="このエントリーをはてなブックマークに追加"><img src="http://b.st-hatena.com/images/entry-button/button-only.gif" alt="このエントリーをはてなブックマークに追加" width="20" height="20" style="border: none;" /></a><script type="text/javascript" src="http://b.st-hatena.com/js/bookmark_button.js" charset="utf-8" async="async"></script>
  </div>
  <div style="float: right; font-size: 16px;">This is *not* official product. The official site is &quot;<a href="http://annoyingorange.com/">Annoying Orange | Fresh squeezed comedy</a>&quot;.</div>
  <div style="border: 1px solid #f90; margin: 20px 0; padding: 2px;"><% @movies.each {|key, val| %><a href="/hey?next=<%= key %>"><img src="<%= val['thumbnail']['url'] %>" alt="<%= key %>" height="<%= val['thumbnail']['height'].to_i / 3 %>" width="<%= val['thumbnail']['width'].to_i / 3 %>" /></a><% } %></div>
  <div style="float: right"><a href="http://twitter.com/yoshuki">@yoshuki</a></div>
</body>
</html>
